@import "../node_modules/bootstrap/dist/css/bootstrap";
$font-stack:    Helvetica, sans-serif;
$primary-color: #f0f;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: red;
}